{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %} {{ block.super }}

<section class="container-md cst_pages">
    <div class="row">
        <!-- sidebar links -->
        <div class="col-md-12 col-lg-3 side_bar">
            <div class="list-group list-group-override" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-override list-group-item-action active" id="list-academic-list" data-toggle="list" href="#list-academic" role="tab" aria-controls="academic">Academics</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-admin-list" data-toggle="list" href="#list-admin" role="tab" aria-controls="admin">Administration</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-admission-list" data-toggle="list" href="#list-admission" role="tab" aria-controls="admission">Admission</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-curricular-list" data-toggle="list" href="#list-curricular" role="tab" aria-controls="curricular">Co-Curricular</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-values-list" data-toggle="list" href="#list-values" role="tab" aria-controls="values">Our Values</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-history-list" data-toggle="list" href="#list-history" role="tab" aria-controls="history">School History</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-staff-list" data-toggle="list" href="#list-staff" role="tab" aria-controls="staff">Staff</a>
            </div>
        </div>
        <!-- end sidebar links -->
        <!-- content -->
        <div class="col-md-12 col-lg-9">
            <div class="tab-content bg-light_silver p-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-academic" role="tabpanel" aria-labelledby="list-academic-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Academics</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Add Button -->
                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Add Academic" data-url="{% url 'academic_create' %}" data-form="academicForm" data-placement="top" title="Add">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 mb-2 ">
                            {% for academic in academics %}
                            <div class="d-flex mb-3">
                                <h4 class="mr-auto">{{ academic.subject }}</h4>
                                {% if user.is_authenticated %}
                                <!-- Buttons Trigger Modal -->
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit Academic" data-url="{% url 'academic_update' academic.id %}" data-form="academicForm" data-placement="top" title="Edit">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </button>
                                <!-- Delete Button -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-title="Delete {{ academic.subject}}" data-url="{% url 'academic_delete' academic.id %}" data-form="deleteForm" data-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                {% endif %}
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-3">{{ academic.info|safe }}</p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <img src="{{ academic.image.url }}" class="img-fluid" alt="{{ academic.image_alt_text }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-admin" role="tabpanel" aria-labelledby="list-admin-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Administration</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Add Button -->
                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Add administration" data-url="{% url 'administration_create' %}" data-form="administrationForm" data-placement="top" title="Add">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 mb-2 ">
                            {% for admin in administration %}
                            <div class="d-flex mb-3">
                                <h4 class="mr-auto">{{ admin.name }}</h4>
                                {% if user.is_authenticated %}
                                <!-- Buttons Trigger Modal -->
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit Administration" data-url="{% url 'administration_update' admin.id %}" data-form="administrationForm" data-placement="top" title="Edit">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </button>
                                <!-- Delete Button -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-title="Delete {{ admin.name}}" data-url="{% url 'administration_delete' admin.id %}" data-form="deleteForm" data-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                {% endif %}
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-3 para-br">{{ admin.info|safe }}</p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <img src="{{ admin.image.url }}" class="img-fluid" alt="{{ admin.image_alt_text }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-admission" role="tabpanel" aria-labelledby="list-admission-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Admission</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Edit Button -->
                        <button type="button" class="btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#openPostModal" data-title="Edit Admission" data-url="{% url 'admission_update' admission.0.id %}" data-form="admissionForm" data-placement="top" title="Edit">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    {% if admission %}
                    <!-- <h4>{{ admission.0.name }}</h4> -->
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6 align-self-start">
                            <p class="mt-0 mb-3 para-br">{{ admission.0.info|safe }}</p>
                        </div>
                        <div class="col-md-6">
                            <img src="{{ admission.0.image.url }}" class="img-fluid" alt="{{ admission.0.image_alt_text }}">
                        </div>
                    </div>
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-curricular" role="tabpanel" aria-labelledby="list-carricular-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Co-Curricular</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Add Button -->
                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Add Curriular" data-url="{% url 'curricular_create' %}" data-form="curricularForm" data-placement="top" title="Add">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 mb-2 ">
                            {% for co in curriculars %}
                            <div class="d-flex mb-3">
                                <h4 class="mr-auto">{{ co.name }}</h4>
                                {% if user.is_authenticated %}
                                <!-- Buttons Trigger Modal -->
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit Curricular" data-url="{% url 'curricular_update' co.id %}" data-form="curricularForm" data-placement="top" title="Edit">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </button>
                                <!-- Delete Button -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-title="Delete {{ co.name}}" data-url="{% url 'curricular_delete' co.id %}" data-form="deleteForm" data-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                {% endif %}
                            </div>
                            <div class="row mb-2">
                                <div class="col-md-6">
                                    <p class="mt-0 mb-3 para-br">{{ co.info|safe }}</p>
                                </div>
                                <div class="col-md-6 mb-4">
                                    <img src="{{ co.image.url }}" class="img-fluid" alt="{{ co.image_alt_text }}">
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-values" role="tabpanel" aria-labelledby="list-values-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Our Values</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Add Button -->
                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Edit School Values" data-url="{% url 'school_value_update' school_values.0.id %}" data-form="schoolValueForm" data-placement="top" title="Edit">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row">
                        {% if school_values %}
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Motto.png' %}" alt="Motto">
                            </div>
                            <div class="details">
                                <h4>Motto</h4>
                                <p>{{ school_values.0.motto }}</p>
                            </div>
                        </div>
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Mission.png' %}" alt="Mission">
                            </div>
                            <div class="details">
                                <h4>Mission</h4>
                                <p>{{ school_values.0.mission }}</p>
                            </div>
                        </div>
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Vision.png' %}" alt="Vision">
                            </div>
                            <div class="details">
                                <h4>Vision</h4>
                                <p>{{ school_values.0.vision }}</p>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-history" role="tabpanel" aria-labelledby="list-history-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">School History</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Edit Button -->
                        <button type="button" id="editHistoryBtn" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit School History" data-url="{% url 'school_history_update' school_history.0.id %}" data-form="schoolHistoryForm" data-placement="top" title="Edit">
                            <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    {% if school_history %}
                    <div class="px-3 text-justify align-items-center">
                        <!-- <h4>{{school_history.name}}</h4> -->
                        <p class="mt-0 mb-3 para-br">{{ school_history.0.content|safe }}</p>
                    </div>
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-staff" role="tabpanel" aria-labelledby="list-staff-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Staff</h3>
                        {% if user.is_authenticated %}
                        <!-- Button trigger modal -->
                        <!-- Add Button -->
                        <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Add Staff" data-url="{% url 'staff_create' %}" data-form="staffForm" data-placement="top" title="Add">
                            <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="text-justify align-items-center">
                        {% for staff in staffs %}
                        <div class="staff-item">
                            <div class="d-flex">
                                <h4 class="mr-auto">{{ staff.title }}. {{ staff.staff_full_name }} | {{ staff.role }} {{ staff.department|default:'' }}</h4>
                                {% if user.is_authenticated %}
                                <!-- Buttons Trigger Modal -->
                                <!-- Edit Button -->
                                <button type="button" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit Staff" data-url="{% url 'staff_update' staff.id %}" data-form="staffForm" data-placement="top" title="Edit">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </button>
                                <!-- Delete Button -->
                                <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-title="Delete {{ staff.first_name}} {{ staff.last_name }} " data-url="{% url 'staff_delete' staff.id %}" data-form="deleteForm" data-placement="top" title="Delete">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                {% endif %}
                            </div>
                            <img src="{{ staff.picture.url }}" class="img-fluid float-left pr-3 pt-2" alt="{{ staff.image_alt_text }}">
                            <p class="mt-0 mb-4 para-br">{{ staff.message|safe }}</p>
                        </div>
                        <hr>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <!-- content end -->
    </div>
</section>

<!-- Modals Body only Section -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="openPostModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}                    <!-- All Forms -->

                    <!-- Academic form -->
                    <fieldset class="aligned d-none" id="academicForm"></fieldset>
                    <!-- Administration form -->
                    <fieldset class="aligned d-none" id="administrationForm"></fieldset>
                    <!-- Admission form -->
                    <fieldset class="aligned d-none" id="admissionForm"></fieldset>
                    <!-- Curricular form -->
                    <fieldset class="aligned d-none" id="curricularForm"></fieldset>
                    <!-- School Values form -->
                    <fieldset class="aligned d-none" id="schoolValueForm"></fieldset>
                    <!-- School History form -->
                    <fieldset class="aligned d-none" id="schoolHistoryForm"></fieldset>
                    <!-- Staff form -->
                    <fieldset class="aligned d-none" id="staffForm"></fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-md font-weight-bold" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

<!-- Delete Modal -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    {% csrf_token %}                    <fieldset class="aligned" id="deleteForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger btn-md font-weight-bold" value="Delete">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

{% endblock %}
