{% extends "base.html" %}
{% load static %}
{% block content %} {{ block.super }}

<section class="container-md cst_pages">
    <div class="row">
        <!-- sidebar links -->
        <div class="col-md-12 col-lg-3 side_bar">
            <div class="" style="position:sticky; top:12%">
                <div class="list-group list-group-override" id="list-tab"
                    role="tablist">
                    <a class="list-group-item list-group-item-override list-group-item-action active"
                        id="list-academic-list" data-toggle="list"
                        href="#list-academic" role="tab"
                        aria-controls="academic">Academics</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-administration-list" data-toggle="list"
                        href="#list-administration" role="tab"
                        aria-controls="administration">Administration</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-admission-list" data-toggle="list"
                        href="#list-admission" role="tab"
                        aria-controls="admission">Admission</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-curricular-list" data-toggle="list"
                        href="#list-curricular" role="tab"
                        aria-controls="curricular">Co-Curricular</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-principles-list" data-toggle="list"
                        href="#list-principles" role="tab"
                        aria-controls="principles">Our Values</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-history-list" data-toggle="list"
                        href="#list-history" role="tab"
                        aria-controls="history">School History</a>
                    <a class="list-group-item list-group-item-override list-group-item-action"
                        id="list-staff-list" data-toggle="list"
                        href="#list-staff" role="tab"
                        aria-controls="staff">Staff</a>
                </div>
            </div>
        </div>
        <!-- end sidebar links -->
        <!-- content -->
        <div class="col-md-12 col-lg-9">
            <div class="tab-content bg-light_silver p-3" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-academic"
                    role="tabpanel" aria-labelledby="list-academic-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Academics</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_entry' 'academic' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    {% if academics %}
                    {% for entry in academics %}
                    <div class="align-items-start p-2 border m-3 pt-3">
                        {% if entry.cover_image %}
                        <div class="p-2 text-justify">
                            {% if forloop.counter|divisibleby:2 %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-left"
                                alt="{{ entry.image_alt_text }}">
                            {% else %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-right"
                                alt="{{ entry.image_alt_text }}">
                            {% endif %}
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% else %}
                        <div class="p-2 text-justify">
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="card-footer p-0">
                            <div class="p-2 d-flex justify-content-end">
                                <!-- Edit Button -->
                                <a class="mr-2"
                                    href="{% url 'update_entry' entry.entry|lower entry.slug %}">
                                    <button type="button" title="Edit"
                                        class="btn btn-sm btn-outline-primary">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <!-- Delete Button -->
                                <a href="{% url 'delete_entry' entry.entry|lower entry.slug %}"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Delete">
                                    <i class="fa-solid fa-trash"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-administration"
                    role="tabpanel" aria-labelledby="list-administration-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Administration</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_entry' 'administration' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    {% if administration %}
                    {% for entry in administration %}
                    <div class="align-items-start p-2 border m-3 pt-3">
                        {% if entry.cover_image %}
                        <div class="p-2 text-justify">
                            {% if forloop.counter|divisibleby:2 %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-left"
                                alt="{{ entry.image_alt_text }}">
                            {% else %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-right"
                                alt="{{ entry.image_alt_text }}">
                            {% endif %}
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% else %}
                        <div class="p-2 text-justify">
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="card-footer p-0">
                            <div class="p-2 d-flex justify-content-end">
                                <!-- Edit Button -->
                                <a class="mr-2"
                                    href="{% url 'update_entry' entry.entry|lower entry.slug %}">
                                    <button type="button" title="Edit"
                                        class="btn btn-sm btn-outline-primary">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <!-- Delete Button -->
                                <a href="{% url 'delete_entry' entry.entry|lower entry.slug %}"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Delete">
                                    <i class="fa-solid fa-trash"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-admission"
                    role="tabpanel" aria-labelledby="list-admission-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Admission</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_entry' 'admission' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    {% if admission %}
                    {% for entry in admission %}
                    <div class="align-items-start p-2 border m-3 pt-3">
                        {% if entry.cover_image %}
                        <div class="p-2 text-justify">
                            {% if forloop.counter|divisibleby:2 %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-left"
                                alt="{{ entry.image_alt_text }}">
                            {% else %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-right"
                                alt="{{ entry.image_alt_text }}">
                            {% endif %}
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% else %}
                        <div class="p-2 text-justify">
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="card-footer p-0">
                            <div class="p-2 d-flex justify-content-end">
                                <!-- Edit Button -->
                                <a class="mr-2"
                                    href="{% url 'update_entry' entry.entry|lower entry.slug %}">
                                    <button type="button" title="Edit"
                                        class="btn btn-sm btn-outline-primary">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <!-- Delete Button -->
                                <a href="{% url 'delete_entry' entry.entry|lower entry.slug %}"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Delete">
                                    <i class="fa-solid fa-trash"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-curricular"
                    role="tabpanel" aria-labelledby="list-carricular-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Co-Curricular</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_entry' 'curricular' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    {% if curricular %}
                    {% for entry in curricular %}
                    <div class="align-items-start p-2 border m-3 pt-3">
                        {% if entry.cover_image %}
                        <div class="p-2 text-justify">
                            {% if forloop.counter|divisibleby:2 %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-left"
                                alt="{{ entry.image_alt_text }}">
                            {% else %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-right"
                                alt="{{ entry.image_alt_text }}">
                            {% endif %}
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% else %}
                        <div class="p-2 text-justify">
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="card-footer p-0">
                            <div class="p-2 d-flex justify-content-end">
                                <!-- Edit Button -->
                                <a class="mr-2"
                                    href="{% url 'update_entry' entry.entry|lower entry.slug %}">
                                    <button type="button" title="Edit"
                                        class="btn btn-sm btn-outline-primary">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <!-- Delete Button -->
                                <a href="{% url 'delete_entry' entry.entry|lower entry.slug %}"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Delete">
                                    <i class="fa-solid fa-trash"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-principles"
                    role="tabpanel" aria-labelledby="list-principles-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Our Core Values</h3>
                    </div>
                    <hr>
                    <div class="row">
                        {% if principle %}
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Motto.png' %}"
                                    alt="Motto">
                            </div>
                            <div class="details">
                                <h4>Motto</h4>
                                <p>{{ principle.0.content|safe }}</p>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="card-footer p-0">
                                <div class="p-2 d-flex justify-content-end">
                                    <!-- Edit Button -->
                                    <a class="mr-2"
                                        href="{% url 'update_entry' principle.0.entry|lower principle.0.slug %}">
                                        <button type="button" title="Edit"
                                            class="btn btn-sm btn-outline-primary">
                                            <i class="fa-sharp fa-solid fa-pen-to-square"
                                                aria-hidden="true"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Mission.png' %}"
                                    alt="Mission">
                            </div>
                            <div class="details">
                                <h4>Mission</h4>
                                <p>{{ principle.1.content|safe }}</p>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="card-footer p-0">
                                <div class="p-2 d-flex justify-content-end">
                                    <!-- Edit Button -->
                                    <a class="mr-2"
                                        href="{% url 'update_entry' principle.1.entry|lower principle.1.slug %}">
                                        <button type="button" title="Edit"
                                            class="btn btn-sm btn-outline-primary">
                                            <i class="fa-sharp fa-solid fa-pen-to-square"
                                                aria-hidden="true"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class=" col-md-4 value-item d-flex flex-md-column">
                            <div class="icon">
                                <img src="{% static 'icon/Vision.png' %}"
                                    alt="Vision">
                            </div>
                            <div class="details">
                                <h4>Vision</h4>
                                <p>{{ principle.2.content|safe }}</p>
                            </div>
                            {% if user.is_authenticated %}
                            <div class="card-footer p-0">
                                <div class="p-2 d-flex justify-content-end">
                                    <!-- Edit Button -->
                                    <a class="mr-2"
                                        href="{% url 'update_entry' principle.2.entry|lower principle.2.slug %}">
                                        <button type="button" title="Edit"
                                            class="btn btn-sm btn-outline-primary">
                                            <i class="fa-sharp fa-solid fa-pen-to-square"
                                                aria-hidden="true"></i>
                                        </button>
                                    </a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-history"
                    role="tabpanel" aria-labelledby="list-history-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">School History</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_entry' 'history' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    {% if school_history %}
                    {% for entry in school_history %}
                    <div class="align-items-start p-2 border m-3 pt-3">
                        {% if entry.cover_image %}
                        <div class="p-2 text-justify">
                            {% if forloop.counter|divisibleby:2 %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-left"
                                alt="{{ entry.image_alt_text }}">
                            {% else %}
                            <img src="{{ entry.cover_image.url }}"
                                class="img-fluid img-float-right"
                                alt="{{ entry.image_alt_text }}">
                            {% endif %}
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% else %}
                        <div class="p-2 text-justify">
                            <h3>{{entry.title|title}}</h3>
                            <div>{{ entry.content|safe }}</div>
                        </div>
                        {% endif %}

                        {% if user.is_authenticated %}
                        <div class="card-footer p-0">
                            <div class="p-2 d-flex justify-content-end">
                                <!-- Edit Button -->
                                <a class="mr-2"
                                    href="{% url 'update_entry' entry.entry|lower entry.slug %}">
                                    <button type="button" title="Edit"
                                        class="btn btn-sm btn-outline-primary">
                                        <i class="fa-sharp fa-solid fa-pen-to-square"
                                            aria-hidden="true"></i>
                                    </button>
                                </a>
                                <!-- Delete Button -->
                                <a href="{% url 'delete_entry' entry.entry|lower entry.slug %}"
                                    class="btn btn-sm btn-outline-danger"
                                    title="Delete">
                                    <i class="fa-solid fa-trash"
                                        aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!--  -->

                <div class="tab-pane fade show" id="list-staff" role="tabpanel"
                    aria-labelledby="list-staff-list">
                    <div class="d-flex mb-3">
                        <h3 class="mr-auto">Staff</h3>
                        {% if user.is_authenticated %}
                        <!-- Add Button -->
                        <a href="{% url 'create_staff' 'teacher' %}">
                            <button type="button" title="Add"
                                class="btn btn-sm btn-outline-success">
                                <i class="fa fa-plus-square-o"
                                    aria-hidden="true"></i>
                            </button>
                        </a>
                        {% endif %}
                    </div>
                    <hr>
                    <div class="row text-justify align-items-center p-3">
                        {% for staff in staffs %}
                        <div class="col-lg-4 col-md-6 p-2">
                            <div class="d-flex flex-column">
                                {% if staff.picture %}
                                <div class="staff-image">
                                    <img src="{{ staff.picture.url }}"
                                        class='img-fluid rounded'
                                        alt="The school principal">
                                </div>
                                {% endif %}
                                <div class="staff-content text-center pt-2">
                                    <h4 class="pb-0">
                                        <span>{{ staff.title|title }}.</span>&nbsp;
                                        <span>{{ staff.full_name|upper }}</span>
                                    </h4>
                                    {% if staff.department %}
                                    <span>{{ staff.department }}</span>&nbsp;
                                    {% endif %}
                                    <span>{{ staff.role|title }}</span>
                                    <p class="pt-1">{{ staff.content|safe }}</p>
                                </div>
                                {% if user.is_authenticated %}
                                <div class="card-footer p-0">
                                    <div class="p-2 d-flex justify-content-end">
                                        <!-- Edit Button -->
                                        <a class="mr-2"
                                            href="{% url 'update_staff' staff.role|lower staff.slug %}">
                                            <button type="button" title="Edit"
                                                class="btn btn-sm btn-outline-primary">
                                                <i class="fa-sharp fa-solid fa-pen-to-square"
                                                    aria-hidden="true"></i>
                                            </button>
                                        </a>
                                        <!-- Delete Button -->
                                        <a href="{% url 'delete_staff' staff.role|lower staff.slug %}"
                                            class="btn btn-sm btn-outline-danger"
                                            title="Delete">
                                            <i class="fa-solid fa-trash"
                                                aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
        </div>
        <!-- content end -->
    </div>
</section>

<!-- Modals Body only Section -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="openPostModal" tabindex="-1" role="dialog"
        aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable"
            role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">
                        School Info
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- All Forms -->

                    <!-- Staff form -->
                    <fieldset class="aligned d-none" id="staffForm"></fieldset>
                </div>
                <div class="modal-footer">
                    <input type="submit"
                        class="btn btn-primary btn-md font-weight-bold"
                        value="Save">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

<!-- Delete Modal -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
        aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">
                        School Info
                    </h5>
                    <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    {% csrf_token %}
                    <fieldset class="aligned" id="deleteForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit"
                        class="btn btn-danger btn-md font-weight-bold"
                        value="Delete">
                    <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

{% endblock %}