{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron py-5 mb-0">
    <h2 class="text-uppercase text-center">Gallery</h2>
</div>
<div class="mb-5 breadcrumb bg-light">
    <div class="container">
        <ul class="list-inline p-2">
            <li class="list-inline-item">Home</li>
            <li class="list-inline-item">Gallery</li>
            <li class="list-inline-item"></li>
        </ul>
    </div>
</div>

<section class="gallery_pg">
    <div class="container">
        <div class="row p-1">
            {% for image in images %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-1">
                <div class="card p-1">
                    <div class="gallery-box">
                        <a data-fancybox="gallery" data-caption="{{image.image_caption}}" data-caption="Date" href="{{image.gallery_image.url}}" class="fancylight popup-btn">
                            <img src="{{image.thumbnail.url}}" class="img-fluid" loading="lazy" alt="{{image.image_alt_text}}">
                        </a>
                    </div>
                    <!-- <p class="gallery-text">Lorem ipsum dolor, sit amet consectetur adipisicing eliut!</p class="gallery-text"> -->
                </div>
            </div>
            {% empty %}
            <h2 class="text-center">NO IMAGES UPLOADED YET</h2>
        {% endfor %}
        </div>
    </div>
</section>
{% endblock %}