{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron py-5 mb-5">
    <h2 class="text-uppercase text-center">Gallery</h2>
</div>
{% comment %}
<div class="breadcrumb bg-light">
    <div class="container-md">
        {% include "breadcrumb.html" %}
    </div>
</div>
{% endcomment %}

<section class="gallery_pg">
    <div class="container-md">
        {% if user.is_authenticated %}
        <!-- Button trigger modal -->
        <!-- Add Button -->
        <button type="button" class="btn btn-sm btn-outline-success mb-3" data-toggle="modal" data-target="#openPostModal" data-title="Add Images" data-url="{% url 'create_category' %}" data-form="galleryForm" data-placement="top" title="Add">
            <i class="fa fa-plus-square-o mr-1" aria-hidden="true"></i>
            Add Image Gallery
        </button>
        {% endif %}

        <div class="row bg-light_silver p-1">
            {% for category in category_list %}
            <div class="col-4 col-sm-4 col-md-3 col-lg-2 p-1">
                <div class="card">
                    <div class="gallery-box">
                        <img src="{{ category.random_image.thumbnail.url }}" class="img-fluid" loading="lazy" alt="{{ category.random_image.image_alt_text }}">
                    </div>

                    <a href="{% url 'gallery-detail' category.slug %}" class="card_content">
                        <span class="d-flex flex-row">
                            <h5 class="card_title mr-auto">{{ category.name }}</h5>
                            <i class="fa-solid fa-arrow-right-long pt-1" style="color: #f5faff;"></i>
                        </span>
                        <p class="card_description">{{ category.description }}</p>
                    </a>

                </div>
            </div>
            {% empty %}
            <h2 class="text-center">OOPS! NOTHING'S HERE YET.</h2>
            {% endfor %}
        </div>

    </div>
</section>

<!-- Modals Body only Section -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="openPostModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% csrf_token %}                    <!-- All Forms -->

                    <fieldset class="aligned d-none" id="galleryForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-md font-weight-bold" value="Upload">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

<!-- Delete Modal -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->
                    {% csrf_token %}                    <fieldset class="aligned" id="deleteForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger btn-md font-weight-bold" value="Delete">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->
{% endblock %}