{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron py-5 mb-0">
    <h2 class="text-uppercase text-center">Gallery</h2>
</div>
<div class="mb-5 breadcrumb bg-light">
    <div class="container-md">
        <ul class="list-inline p-2">
            <li class="list-inline-item">Home</li>
            <li class="list-inline-item">Gallery</li>
            <li class="list-inline-item"></li>
        </ul>
    </div>
</div>

<section class="gallery_pg">
    <div class="container-md">
        {% if user.is_authenticated %}
        <!-- Button trigger modal -->
        <!-- Add Button -->
        <button type="button" class="btn btn-sm btn-outline-success mb-3" data-toggle="modal" data-target="#openPostModal" data-title="Add Images" data-url="{% url 'upload_images' %}" data-form="galleryForm" data-placement="top" title="Add">
            <i class="fa fa-plus-square-o mr-1" aria-hidden="true"></i>
            Add Image Gallery
        </button>
        {% endif %}

        <div class="row p-1">
            {% regroup images by category as category_list %}

            {% for category in category_list %}
            <div class="col-6 col-sm-4 col-md-3 col-lg-2 p-1">
                <div class="card p-1">
                    <div class="gallery-box">
                        <a data-fresco-group="gallery-{{ category.grouper.id }}" data-fresco-caption="{{ category.grouper.description }}" href="{{ image.gallery_image.url }}" class="fresco popup-btn">
                            <img src="{{ image.thumbnail.url }}" class="img-fluid" loading="lazy" alt="{{ image.image_alt_text }}">
                        </a>
                    </div>

                    <div class="d-none">
                        {% for image in category.list %}
                        <a data-fresco-group="gallery-{{ category.grouper.id }}" href="{{ image.gallery_image.url }}" class="fresco popup-btn">
                            <img src="{{image.thumbnail.url}}" class="img-fluid" loading="lazy" alt="{{image.image_alt_text}}">
                        </a>
                        {% endfor %}
                    </div>
                    <!-- <p class="gallery-text">Lorem ipsum dolor, sit amet consectetur adipisicing eliut!</p class="gallery-text"> -->
                </div>
            </div>
            {% empty %}
            <h2 class="text-center">NO IMAGES UPLOADED YET</h2>
        {% endfor %}
        </div>

    </div>
</section>

<!-- Modals Body only Section -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="openPostModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- All Forms -->

                    <fieldset class="aligned d-none" id="galleryForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-md font-weight-bold" value="Upload">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

<!-- Delete Modal -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->

                    <fieldset class="aligned" id="deleteForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger btn-md font-weight-bold" value="Delete">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->
{% endblock %}