{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide img-responsive" src="{% static 'images/IMG_2993.JPG' %}" alt="First slide">
                <div class="container">
                   <div class="carousel-caption relative">
                      <h1>Moi Kadzonzo Girls High School</h1>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                      <a  href="Javascript:void(0)">Read More</a>
                   </div>
                </div>
            </div>
            <div class="carousel-item">
               <img class="second-slide img-responsive" src="{% static 'images/IMG_3045.JPG' %}" alt="Second slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <h1>Moi Kadzonzo Girls High School</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                     <a  href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <img class="third-slide img-responsive" src="{% static 'images/IMG_3046.JPG' %}" alt="Third slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <h1>Moi Kadzonzo Girls High School</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                     <a  href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="bottom_arrow_scroll" href="#about"><img src="{% static 'icon/errow.png' %}" /></a>
    </div>
</section>

<!-- about  -->
<div id="about" class="about mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>About</h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, a </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row flexcss">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 center">
                <div class="about-box">
                    <h3>distracted by the readable </h3>
                    <p class="text-justify">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, aIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, aIt is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of lettersdistracted by the readable distracted by the readable , a</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <div class="about-img">
                    <figure><img src="{% static 'images/IMG_3046.JPG' %}" alt="img"/></figure>
                </div>
            </div>
        </div>
        <a href="Javascript:void(0)">read more</a>
    </div>
</div>
<!-- end abouts -->
<!-- values --> 
<div id="values" class="values">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Values </h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of <br>using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
   </div>
   <div class="container margin-r-l">
        <div class="row">
            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Mission</h3>
                    </span>  
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Motto</h3>
                    </span>
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-6 offset-md-3 offset-lg-0 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Vision</h3>
                    </span>
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end values -->
<!-- our blog -->
<div id="blog" class="blog">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Blog</h2>
                    <span>Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span> 
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure><img src="images/blog-image0.jpg" alt="#"/>
                        <span>10 August 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span> 
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure><img src="images/blog-image.jpg" alt="#"/>
                        <span>12 August 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span> 
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure><img src="images/blog-image.jpg" alt="#"/>
                        <span>14 August 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span> 
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="blog-box">
                    <figure><img src="images/blog-image0.jpg" alt="#"/>
                        <span>15 August 2019</span>
                    </figure>
                    <div class="travel">
                        <span>Post  By :  Travel  Agency</span> 
                        <p><strong class="Comment"> 06 </strong>  Comment</p>
                        <p><strong class="like">05 </strong>Like</p>
                    </div>
                    <h3>London Amazing Tour</h3>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our blog -->

{% endblock %}