{% extends "base.html" %}
{% load static %}
{% block content %}
<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="first-slide img-responsive" src="{% static 'images/IMG_2993.JPG' %}" alt="First slide">
                <div class="container">
                   <div class="carousel-caption relative">
                      <h1>Moi Kadzonzo Girls High School</h1>
                      <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                      <a  href="Javascript:void(0)">Read More</a>
                   </div>
                </div>
            </div>
            <div class="carousel-item">
               <img class="second-slide img-responsive" src="{% static 'images/IMG_3045.JPG' %}" alt="Second slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <h1>Moi Kadzonzo Girls High School</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                     <a  href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
            <div class="carousel-item">
               <img class="third-slide img-responsive" src="{% static 'images/IMG_3046.JPG' %}" alt="Third slide">
               <div class="container">
                  <div class="carousel-caption relative">
                     <h1>Moi Kadzonzo Girls High School</h1>
                     <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and </p>
                     <a  href="Javascript:void(0)">Read More</a>
                  </div>
               </div>
            </div>
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class='fa fa-angle-left'></i>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class='fa fa-angle-right'></i>
            </a>
            <a class="bottom_arrow_scroll" href="#about"><img src="{% static 'icon/errow.png' %}" /></a>
    </div>
</section>
<div class="container mt-5">
    <div class="bg-light_silver p-2 text-center rounded">
        <h2>Welcome to Moi Kadzonzo Girls Secondary School</h2>
        <p class="px-4">This website is designed for parents, students, Alumnis, staff, sponsors, friends of the school and prospective parents who may know little about us.</p>
    </div>
    <div class="row my-4 info-cards">
        <div class="col-md-12 col-lg-3 p-4">
            <h4>A Bright Shining Star of Academic Excellence</h4>
            <p>Moi Kadzonzo Girls Secondary School is situated 4km from Mariakani town along the Mariakani-Kaloleni Road. It is in Mariakani Location, Mariakani Division of Kaloleni sub-county, Kilifi County.</p>
            <a href="/about#">Read more </a>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Admission</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Academics</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Staff</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Sports & Co-Curricular</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Library</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-4 col-lg-3 p-4">
            <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
            <h4>Alumnis</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium placeat, facilis aperiam saepe atque est aspernatur, quisquam quam officiis non, ad rerum?</p>
        </div>
        <div class="col-md-12 col-lg-3 p-4">
            <h4>Board Member</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias doloribus magnam corrupti voluptates praesentium, molestias aut mollitia nemo maxime voluptatum ut asperiores.</p>
            <a href="/about#">Read more </a>
        </div>
    </div>
</div>
<!-- our blog -->
<div id="blog" class="blog theme_bg ">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>School News</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="blog-box">
                    <figure>
                        <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
                        <span>10 Aug 2019</span>
                    </figure>
                    <h4>London Amazing Tour</h4>
                    <div class="travel">
                        <p>
                            <span class="Comment"> <i>inb </i>06 </span>
                            <span class="like"> <i> icn </i>05 </span>
                            <span> <i>icn</i> Kadzonzo</span>
                        </p>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Led to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-box">
                    <figure>
                        <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
                        <span>10 Aug 2019</span>
                    </figure>
                    <h4>London Amazing Tour</h4>
                    <div class="travel">
                        <p>
                            <span class="Comment"> <i>inb </i>06 </span>
                            <span class="like"> <i> icn </i>05 </span>
                            <span> <i>icn</i> Kadzonzo</span>
                        </p>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Led to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-box">
                    <figure>
                        <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
                        <span>10 Aug 2019</span>
                    </figure>
                    <h4>London Amazing Tour</h4>
                    <div class="travel">
                        <p>
                            <span class="Comment"> <i>inb </i>06 </span>
                            <span class="like"> <i> icn </i>05 </span>
                            <span> <i>icn</i> Kadzonzo</span>
                        </p>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Led to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="blog-box">
                    <figure>
                        <img src="{% static 'images/IMG_3046.JPG' %}" class='img-fluid rounded' alt="img"/>
                        <span>10 Aug 2019</span>
                    </figure>
                    <h4>London Amazing Tour</h4>
                    <div class="travel">
                        <p>
                            <span class="Comment"> <i>inb </i>06 </span>
                            <span class="like"> <i> icn </i>05 </span>
                            <span> <i>icn</i> Kadzonzo</span>
                        </p>
                    </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Led to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end our blog -->
<!-- values -->
<!-- <div id="values" class="values">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>Our Values </h2>
                    <span>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of <br>using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</span>
                </div>
            </div>
        </div>
   </div>
   <div class="container margin-r-l">
        <div class="row">
            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Mission</h3>
                    </span>
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-6 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Motto</h3>
                    </span>
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
            <div class="col col-xl-4 col-lg-4 col-md-6 offset-md-3 offset-lg-0 col-sm-12 thumb">
                <div class="values-box">
                    <span class="hoverle">
                        <h3 class="text-uppercase ">Vision</h3>
                    </span>
                    <p class="text-center mt-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt eos, quisquam veniam maiores in neque!</p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- end values -->

{% endblock %}