{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron py-5 mb-0">
    <h2 class="text-uppercase text-center">Messages</h2>
</div>
<div class="breadcrumb bg-light">
    <div class="container">
        <ul class="list-inline p-2">
            <li class="list-inline-item">Home</li>
            <li class="list-inline-item">Messages</li>
            <li class="list-inline-item"></li>
        </ul>
    </div>
</div>
<section class="container cst_pages">
    <div class="row">
        <!-- sidebar links -->
        <div class="col-md-12 col-lg-3 side_bar">
            <div class="list-group list-group-override" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-override list-group-item-action active" id="list-principal-list" data-toggle="list" href="#list-principal" role="tab" aria-controls="principal">The Principal</a>
                <a class="list-group-item list-group-item-override list-group-item-action" id="list-deputy-list" data-toggle="list" href="#list-deputy" role="tab" aria-controls="deputy">Deputy Principal</a>
            </div>
        </div>
        <!-- end sidebar links -->
        <!-- content -->
        <div class="col-md-12 col-lg-9 text-justify">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-principal" role="tabpanel" aria-labelledby="list-principal-list">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 col-lg-12">
                            <h3 class="mb-2">Principal's Office</h3>
                            <hr>
                            <div>
                                <h4>
                                    <span>{{ principal.author.title }}.</span>
                                    <span>{{ principal.author.first_name }}</span>
                                    <span>{{ principal.author.last_name }}</span>
                                    <span>{{ principal.author.role }}</span>
                                </h4>
                                <img src="{{principal.author.picture.url}}" class="img-fluid float-left pr-2 pt-2" alt="{{principal.author.picture_alt_text}}">
                                <h4>{{ principal.message_title }}</h4>

                                <p class="mt-0">{{ principal.message }}</p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--  -->
                <div class="tab-pane fade show" id="list-deputy" role="tabpanel" aria-labelledby="list-deputy-list">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-12 col-lg-12">
                            <h3 class="mb-2">Deputy Principal's Office</h3>
                            <hr>
                            <div>
                                <h4>
                                    <span>{{ deputy.author.title }}.</span>
                                    <span>{{ deputy.author.first_name }}</span>
                                    <span>{{ deputy.author.last_name }}</span>
                                    <span>{{ deputy.author.role }}</span>
                                </h4>
                                <img src="{{deputy.author.picture.url}}" class="img-fluid float-left pr-2 pt-2" alt="{{deputy.author.picture_alt_text}}">
                                <h4>{{ deputy.message_title }}</h4>

                                <p class="mt-0">{{ deputy.message }}</p>
                            </div>                        </div>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- content end -->
    </div>
</section>
{% endblock %}