{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron py-5 mb-0">
	<h2 class="text-uppercase text-center">News</h2>
</div>
<div class="mb-5 breadcrumb bg-light">
	<div class="container-md">
		<ul class="list-inline p-2">
			<li class="list-inline-item">Home</li>
			<li class="list-inline-item">News</li>
			<li class="list-inline-item"></li>
		</ul>
	</div>
</div>

<section class="news_pg">
    <div class="container-md">
		<div class="row">
			<div class="col-md-8">
                {% if user.is_authenticated %}
				<!-- Button trigger modal -->
                <!-- Add Button -->
                <button type="button" class="btn btn-sm btn-outline-success" data-toggle="modal" data-target="#openPostModal" data-title="Add News Article" data-url="{% url 'news_create' %}" data-form="newsForm" data-placement="top" title="Add">
                    <i class="fa fa-plus-square-o mr-2" aria-hidden="true"></i> Add News Article
                </button>
                {% endif %}

				{% for news_item in news %}
				<div class="my-3 pb-3 row align-items-center news_item">
                    <div class="mb-2 col-md-12 col-lg-5">
						<div class="relative">
							<div class="overlay overlay-bg"></div>
					    	{% if news_item.news_image %}
					    	<img src="{{ news_item.news_image.url }}"	class="img-fluid rounded" alt="{{ news_item.image_alt_text }}"/>
					    	{% else %}
					    	<img src="{% static 'images/IMG_3046.JPG' %}" class="img-fluid rounded" alt="img"/>
                        	{% endif %}
						</div>
                    </div>
					<div class="col-md-12 col-lg-7">
                        <div class="mb-2">
					        <h3 class="display-5">{{ news_item.headline }}</h3>
                            <div class="meta d-flex">
								<span class="text-muted">
					        		<i class="fa-sharp fa-solid fa-user mr-1"></i>
					        		{{ news_item.publisher }}
                            	</span>
								<span class="mx-2 text-muted">
                            	    <i class="fa-solid fa-calendar-days mr-1"></i>
                            	    {{ news_item.post_date|date:"d F Y" }}
                            	</span>
							</div>
                        </div>
					    <p class="mb-2">{{ news_item.news|truncatechars:200 }}</p>
						<div class="d-flex">
							<a href="{% url 'news' news_item.slug %}" class="mr-auto more">Read More</a>
                            {% if user.is_authenticated %}
							<!-- Buttons Trigger Modal -->
                            <!-- Edit Button -->
                            <button type="button" class="btn btn-sm btn-outline-primary mx-1" data-toggle="modal" data-target="#openPostModal" data-title="Edit: {{ news_item.headline }} Article" data-url="{% url 'news_update' news_item.id %}" data-form="newsForm" data-placement="top" title="Edit">
                                <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                            </button>
                            <!-- Delete Button -->
                            <button type="button" class="btn btn-sm btn-outline-danger" data-toggle="modal" data-target="#deleteModal" data-title="Delete {{ news_item.headline }}" data-url="{% url 'news_delete' news_item.id %}" data-form="deleteForm" data-placement="top" title="Delete">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                            {% endif %}
						</div>
                    </div>
				</div>
				{% empty %}
				<div class="row">
					<h2 class="text-center">There are No News Items</h2>
				</div>
				{% endfor %}
			</div>
			<div class="col-md-4"><p class="d-none">side</p></div>
		</div>
	</div>
</section>

<!-- Modals Body only Section -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="openPostModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- All Forms -->

                    <!-- News form -->
                    <fieldset class="aligned d-none" id="newsForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-primary btn-md font-weight-bold" value="Save">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->

<!-- Delete Modal -->
<form action="" class="myForm" method="POST" enctype="multipart/form-data">
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-uppercase" id="ModalLongTitle">School Info</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Form -->

                    <fieldset class="aligned" id="deleteForm"></fieldset>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-danger btn-md font-weight-bold" value="Delete">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>
<!-- End Modal -->
{% endblock %}
