{% extends "registration/auth_base.html" %}

{% block content %}
<section class="auth">
  <div class="login-container">
    <div class="text-center pt-3 mx-auto">
      <i class="fa-solid fa-circle-exclamation"
        style="color: #6D3D14; font-size: 2.6rem;"></i>
      <h3>Forgot Password </h3>
      <p>Enter your email or username below and we will send you an email with instruction to reset your password.</p>
    </div>

    <form action="" method="post" class="authentication">
      {% csrf_token %}
      <div class="aligned">
        {% if form.email.errors %}
          {{ form.email.errors }}
        {% endif %}
          <p>
            <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" class="form-control" placeholder="Email or Username" required>
          </p>
          <p class="text-center"><input type="submit" class="btn btn-success p-2" value="Reset password"></p>
          <p class="mt-2 text-center"><a class="text-primary" href="{% url 'login' %}">Login Instead</a> </p>
      </div>
    </form>
  </div>
</section>
{% endblock %}