{% extends "registration/auth_base.html" %}

{% block content %}
<section class="auth">
    <div class="container">
        <form method="post" action="{% url 'password_change' %}" class="authentication">
            {% csrf_token %}
            <div class="aligned">
                {% for field in form %}
                <div>
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
                <p class="text-center"><input type="submit" class="btn btn-primary" value="Login" /></p>
                <input type="hidden" name="next" value="{{ next }}" />
                <p class="mt-2 text-center"><a class="text-danger" href="{% url 'password_reset' %}">Forgot password?</a></p>
            </div>
        </form>
    </div>
</section>
{% endblock %}