{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="text-center pt-3 px-5 mx-auto">
  <h3 class="text-uppercase">Password reset</h3>
  <p>Forgotten your password? </p>
  <p>Enter an email address associated to a user, and we will email the instructions for setting a new password.</p>
  <em><b>Note:&nbsp; </b>We only send reset emails to addresses that are already linked to a user.</em>
</div>

<form action="" method="post" class="authentication">
  {% csrf_token %}
  <fieldset class="aligned">
    <div>
      {% if form.email.errors %}
        {{ form.email.errors }}
      {% endif %}
          <p>{{ form.email|as_crispy_field }}</p>
        <p class="text-center"><input type="submit" class="btn btn-outline-secondary btn-md w-50" value="Reset password"></p>
        </div>
  </fieldset>
</form>
{% endblock %}