{% extends "registration/auth_base.html" %}

{% block content %}
<section class="auth">
    <div class="login-container">
        {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="{% url 'password_reset_confirm' %}" method="post" class="authentication">
        {% csrf_token %}
            <div class="aligned">
                <div>
                    <div>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label>
                    </div>
                    <div>{{ form.new_password1 }}</div>
                    <div>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label>
                    </div>
                    <div>{{ form.new_password2 }}</div>
                    <div><input type="submit" value="Change my password"></div>
                </div>
            </div>
        </form>
        {% else %}
        <div class="text-center">
            <i class="fa-sharp fa-solid fa-xmark"
                style="color: #6D3D14; font-size: 3rem; font-weight: 900;"
            ></i>
            <h1>Password Reset Failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a <a class="text-primary" href="{% url 'password_reset' %}"> new password</a> reset link.</p>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
