{% extends "registration/auth_base.html" %}

{% block content %}
<section class="auth">
  <div class="container">
    <div class="text-center pt-3 mx-auto">
      <i class="fa-sharp fa-solid fa-check-double mb-2"
        style="color: #6D3D14; font-size: 2.6rem; font-weight: 900;">
      </i>
      <h3>Forgot Password </h3>
      <p>
        If provided email is a registered email ID,
        you will receive an email with further instructions on how to reset your password.
        In case you don't receive this email in a few minutes, check your spam folder, else contact your administrator.
      </p>
      <p class="mt-2 text-center"><a class="text-primary" href="{% url 'login' %}">Login</a></p>
    </div>
  </div>
</section>
{% endblock %}