/*--------------- Modal Form ---------------*/
form .control-group {
     padding: 0.3rem;
     margin-bottom: 0.1rem;
}

form .control-group label {
     font-size: medium;
     margin-bottom: 0.2rem;
}

form .control-group .controls {
     margin-bottom: 0.1rem;
}

form .control-group .controls p {
     margin-block-start: 0;
     margin-block-end: 0.5em;
     font-size: x-small;
}

.controls input,
.controls textarea {
     width: 100%;
}

/*--------------- Modal Form ---------------*/

/*--------------- Forms ---------------*/
.error-feedback {
     width: 100%;
     margin-bottom: 0.25rem;
     font-size: .875em;
     color: #dc3545;
}

.error-feedback+* {
     padding: 0.2867rem;
     border: solid #dc3545 1px;
     border-radius: 2px;
}

.form-group {
     overflow: hidden;
     overflow-wrap: break-word;
     background-color: #e4ddd640;
     padding: 15px 7px;
     border-radius: 5px;
     font-size: 0.7875rem;
     border-bottom: 1px solid #e8e8e8;
     font-weight: normal;
}

.form-group a {
     font-size: x-small;
     font-weight: 400;
}

.form-group img,
.form-group input {
     vertical-align: middle;
}

.aligned label {
     display: inline-block;
     padding: 4px 10px 0 0;
     width: 20%;
     word-wrap: break-word;
     line-height: 1;
}

.aligned p {
     flex-grow: 1;
}

.aligned p label {
     width: 25% !important;
}

.aligned label.required {
     font-weight: bold;
}

.aligned .form-control-file {
     display: inline;
     width: 220px;
     color: #444;
     padding: 2px;
     background: #fff;
     border-radius: 10px;
     border: 1px solid rgba(8, 8, 8, 0.288);
}

.aligned .form-control-file::-webkit-file-upload-button,
.aligned .form-control-file::file-selector-button {
     margin-right: 20px;
     border: none;
     background: #6D3D14;
     padding: 5px 10px;
     border-radius: 10px;
     color: #fff;
     cursor: pointer;
     -webkit-transition: background .2s ease-in-out;
     transition: background .2s ease-in-out;
}

.aligned .form-control-file::-webkit-file-upload-button:hover {
     background: #6d3d14cc;
}

.aligned .form-control-file::file-selector-button:hover {
     background: #6d3d14cc;
}


input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
     border: 1px solid #ccc;
     border-radius: 4px;
     padding: 5px 6px;
     margin-top: 0;
     color: #333;
     background-color: #fff;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
textarea:focus,
select:focus {
     border-color: #666;
}

.LargeTextField {
     width: 35rem;
}

.TextField {
     width: 33rem;
}

/* USER AUTHENTICATION */
section.auth {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 90vh;
     margin: 0;
}

section.auth .login-container,
section.auth .container {
     width: 400px;
     background-color: #FFFFFF;
     padding: 1.7rem;
     border-radius: 5px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form.authentication {
     display: flex;
     flex-direction: column;
     padding: 1rem;
     margin: auto;
}

.login-form label {
     margin-bottom: 5px;
}

form.authentication input {
     padding: 10px;
     margin-bottom: 10px;
}

form.authentication input[type=submit] {
     margin: 0.5rem auto;
     width: 100%;
}

.delete_card {
     max-width: 350px;
     /* background: white; */
     padding: 20px;
}

.delete_card .title {
     color: black;
     font-size: 2rem;
     font-weight: 600;
}

.delete_card .description {
     color: black;
     margin-top: 10px;
     margin-bottom: 20px;
     font-size: larger;
     padding-inline: 2rem;
}

.delete_card .actions {
     margin-top: 10px;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 5px;
     align-items: center;
     font-size: .8rem;
}

.delete_card .delete {
     border-color: #ff0000;
     color: #ff0000;
}

.delete_card .delete:hover {
     background-color: #ff0000;
     color: #ffffff;
}

.delete_card .cancel {
     border-radius: 4px;
     padding: 5px 8px;
     border-color: #808080;
     color: #000000;
}

.delete_card .cancel:hover {
     background-color: #e9e9e9;
     font-size: .825rem;
}

.delete_card div::before,
.delete_card div::after {
     content: "";
     z-index: -1;
     position: absolute;
     bottom: 15px;
     left: 10px;
     width: 50%;
     top: 80%;
     max-width: 300px;
     background: rgba(0, 0, 0, 0.7);
     -webkit-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
     box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
     -webkit-transform: rotate(-3deg);
     transform: rotate(-3deg);
}

.delete_card div::after {
     right: 10px;
     left: unset;
     transform: rotate(3deg);
}

/*--------------- Forms ---------------*/

/*--------------- CKEDITOR ---------------*/
div.cke,
.django-ckeditor-widget {
     width: 100% !important;
}

@media (max-width: 991px) {
     div.cke.cke_reset.cke_chrome {
          width: 100% !important;
     }

}

/*--------------- end CKEDITOR ---------------*/

@media (max-width: 767px) {

     .aligned input,
     .aligned select,
     .aligned textarea,
     .aligned .submit-btn a {
          flex: 1 1 auto;
          width: 100%;
          max-width: 100%;
     }

     .aligned input[type=checkbox] {
          width: auto;
     }

     .flex-container {
          flex-flow: column;
     }

     .aligned .form-group input {
          flex: 1 1 auto;
          max-width: 100%;
     }

     .aligned label {
          width: 100%;
          padding: 0 0 10px;
     }

     .aligned p label {
          width: 25% !important;
     }

     .delete_card .actions>* {
          width: 100%;
     }
}

@media (max-width: 1024px) {

     input[type=text],
     input[type=password],
     input[type=email],
     input[type=number],
     textarea,
     select,
     .TextField {
          margin: 0;
          padding: 6px 8px;
          min-height: 36px;
          font-size: 0.875rem;
          max-width: 100%;
     }
}