header{
    max-width: 100vw;
}
header .top-bar{
    background-color: #6fb9363b;
}
header .navbar-brand .img-fluid{
    height: auto;
    width: 90px;
}
.navbar-custom,
.nav-pills .nav-link.active,
.nav-pills .nav-link:hover,
.nav-pills .show>.nav-link {
	background-color: #563309 !important;
    font-size: 0.8125rem;
    color: whitesmoke ;
}
nav .green{
	background-color: #f5f5f5;
	color: #563309;
    border-bottom: #563309 solid;
}
.dropdown-item,
.dropdown-item:hover{
    color: #563309;
    font-size: 0.8125rem;
}

.cstm-hov:hover{
    background-color: #56330965;
    color: #563309;
}

@media (max-width: 991px) {
    header {
    display: none;
}
}