header {
    max-width: 100vw;
}

header .top-bar {
    background-color: #6d3d14;
}

header .navbar-brand .img-fluid {
    height: auto;
    width: 75px;
}

header .navbar-brand>h2 {
    color: #6d3d14;
    font-weight: bold;
    width: 15rem;
    white-space: normal;
}

.navbar,
.dropdown-menu {
    background: #6d3d14;
    font-size: 0.8125rem;
    border: none;
}

.navbar-nav>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>li>a,
.dropdown-menu>li {
    border-bottom: 3px solid transparent;
}

.navbar-nav>li>a:focus,
.navbar-nav>li>a:hover,
.navbar-nav .open>a,
.navbar-nav .open>a:focus,
.navbar-nav .open>a:hover,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    border-bottom: 3px solid transparent;
    background: none;
}

.navbar a,
.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.navbar-toggler {
    color: #fff;
    background-color: #6d3d14;
}

.dropdown-menu {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: #6d3d14;
}

.navbar-nav li:hover:nth-child(8n + 1),
.navbar-nav li.active:nth-child(8n + 1) {
    border-bottom: #c4e17f 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 2),
.navbar-nav li.active:nth-child(8n + 2) {
    border-bottom: #f7fdca 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 3),
.navbar-nav li.active:nth-child(8n + 3) {
    border-bottom: #fecf71 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 4),
.navbar-nav li.active:nth-child(8n + 4) {
    border-bottom: #f0776c 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 5),
.navbar-nav li.active:nth-child(8n + 5) {
    border-bottom: #db9dbe 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 6),
.navbar-nav li.active:nth-child(8n + 6) {
    border-bottom: #c49cde 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 7),
.navbar-nav li.active:nth-child(8n + 7) {
    border-bottom: #669ae1 3px solid;
}

.navbar-nav li:hover:nth-child(8n + 8),
.navbar-nav li.active:nth-child(8n + 8) {
    border-bottom: #62c2e4 3px solid;
}

@media (max-width: 991px) {
    header {
        display: none;
    }
}