/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/


@media (min-width: 1200px) and (max-width: 1500px) {
    .banner-main .carousel-caption {
        background: transparent;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .banner-main .carousel-caption {
        background: transparent;
    }
    .meta{
    	font-size: 0.638em;
    }
    .absolute {
        position: absolute;
        top: 44%;
        transform: translateY(-50%);
        bottom: 0;
        padding: 0;
    }
    .footer .address h3 {
        font-size: 20px;
    }
    ul.contant_icon li {
        padding-right: 5px;
    }
    ul.socil_link li {
        padding-right: 20%;
    }
    ul.contant_icon li img {
        width: 26px;
        height: 26px;
    }
    .footer .newsletter .subscribe {
        padding: 21px 0;
        width: 145px;
    }
    .contact .gmap_canvas iframe{
	    width: 475px;
	    height: 360px;
	    margin-bottom: 5px;
    }
}

@media (max-width: 991px) {
    .cst_pages .list-group-override {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: stretch;
        overflow-y: scroll;
        white-space: nowrap;
    }

    .cst_pages .list-group-override .list-group-item-override {
        padding-inline: 0.567rem ;
        border-radius: 10px 10px 0px 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .banner-main .carousel-caption {
        background: transparent;
    }

    .side-bars .meta {
    	font-size: 0.638em;
    }
    .absolute {
        position: absolute;
        top: 42%;
        transform: translateY(-50%);
        padding: 0;
        border: 0 aliceblue;
        bottom: 0;
    }
    .top_layer::before {
        display: none;
    }

    .blog .blog-box .travel span {
        font-size: 14px;
    }
    .blog .blog-box .travel p {
        padding-left: 12px;
        font-size: 13px;
    }


    ul.socil_link li {
        padding-right: 15%;
    }
    .footer .newsletter .subscribe {
        padding: 21px 0;
        width: 113px;
    }
    .contact .flexcont .p-override{
        padding-right: 1rem;
    }
    .contact .gmap_canvas iframe{
	    width: 342px;
	    height: 360px;
	    margin-bottom: 5px;
    }
/*--------------- about page css ---------------*/

    .cst_pages .side_bar {
        margin-bottom: 1rem;
    }
    .cst_pages .list-group-override .list-group-item-override:hover{
    	border: #563309 solid 0.5px;
        border-bottom: none;
    }

/*--------------- end about page css ---------------*/
}

@media (min-width: 576px) and (max-width: 767px) {
    .logo a {
        font-size: 31px;
        line-height: 39px;
    }
    .absolute {
        position: absolute;
        top: 39%;
        transform: translateY(-50%);
        padding: 0;
        bottom: 0;
    }

    .slider_section .carousel-control-prev {
        left: -20px;
    }
    .slider_section .carousel-control-next {
        right: -20px;
    }

    .slider_section .carousel-item img {
        width: 100%;
        height: auto;
    }
    .top_layer::before {
        display: none;
    }
    .info-cards .info_img img {
        transform: scale(1);
    }

    .info-cards .col-lg-3:last-child {
        padding-top: 1.5rem !important;
    }

    .address {
        margin-bottom: 30px;
    }
    ul.contant_icon {
        margin-bottom: 20px;
    }

    .contact .flexcont .p-override{
	    margin-top: 5px;
        padding: 0 1rem;
    }
    .contact .gmap_canvas iframe{
	    width: 509px;
	    height: 250px;
	    margin-bottom: 5px;
    }
    .values .values-box{
        width: 313px;
        margin: auto;
    }
/*--------------- about page css ---------------*/

    .cst_pages .side_bar {
        margin-bottom: 1rem;
    }

    .cst_pages .list-group-override .list-group-item-override:hover{
    	border: #563309 solid 0.5px;
        border-bottom: none;
    }

    .cst_pages img.float-left{
    	width: 100vw;
        float: none;
        padding: 1em 0 !important;

    }
/*--------------- end about page css ---------------*/
}

@media (max-width: 575px) {
    .header {
        padding-bottom: 0px;
    }
    .logo {
        text-align: center !important;
        padding-bottom: 25px;
        float: inherit;
    }
    .slider_section .carousel-control-prev {
        left: -20px;
    }
    .slider_section .carousel-control-next {
        right: -20px;
    }
    .slider_section .carousel-item img {
        width: 100%;
        height: auto;
    }
    .absolute {
        position: absolute;
        top: 37%;
        background: transparent;
        transform: translateY(-50%);
        padding: 0;
        bottom: 0;
    }
    .carousel-item img {
        width: 100%;
        height: 250px;

    }
    .top_layer::before {
        display: none;
        background-size: none;
    }
    .info-cards .info_img img{
        transform: scale(1);
    }


    .blog .blog-box .travel span {
        font-size: 12px;
    }
    .blog .blog-box .travel p {
        padding-left: 10px;
       font-size: 12px;
    }
    .download .titlepage h2 {
        font-size: 21px;
        line-height: 13px;
    }
    .read-more {
        margin-top: 30px;
    }
    .read-more a {
        width: 192px;
        padding: 12px 0px;
        font-size: 16px;
    }

    .address {
        margin-bottom: 30px;
    }
    .copyright p {
        font-size: 16px;
        padding: 0 15px;
    }
    .footer .newsletter .subscribe {
        width: 120px;
        padding: 21px 0;
    }
    ul.contant_icon {
        margin-bottom: 20px;
    }
    .contact .flexcont .p-override{
	    margin-top: 5px;
        padding: 0 1rem;
    }
    .contact .gmap_canvas iframe{
	    width: calc(100vw - 32px);
	    height: 250px;
	    margin-bottom: 5px;
    }
    .values .values-box{
        width: 313px;
        margin: auto;
    }
/*--------------- about page css ---------------*/

    .cst_pages .side_bar {
        margin-bottom: 1rem;
    }
    .cst_pages .list-group-override .list-group-item-override:hover{
    	border: #563309 solid 0.5px;
        border-bottom: none;
    }

    .cst_pages .list-group-override .list-group-item-override{
        text-align: center;
        font-size: calc(3.2vw - (40vw / 70));
        margin: 0.3px;
    }
    .cst_pages img.float-left{
    	width: 100vw;
        float: none;
        padding: 1em 0 !important;

    }
/*--------------- end about page css ---------------*/
}