/*---------------------------------------------------------------------
    File Name: style.css
---------------------------------------------------------------------*/


/*---------------------------------------------------------------------
    import Fonts
---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*****----------------------------------------
     1) font-family: 'Rajdhani', sans-serif;
     2) font-family: 'Poppins', sans-serif;
----------------------------------------*****/


/*---------------------------------------------------------------------
    import Files
---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
/* @import url(swiper.min.css); */
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*---------------------------------------------------------------------
    skeleton
---------------------------------------------------------------------*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box !important;
}

html {
	scroll-behavior: smooth;
}

body {
	font-size: 0.8125rem;
	/* font-family: 'poppins', sans-serif; */
	font-family: 'Helvetica', sans-serif;
	line-height: 1.80857;
	overflow-x: hidden;
	background-color: #CBB9A840;
}

.meta {
	display: inline-block;
	font-size: 0.75rem;
}

a {
	color: #0f0f0f;
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	letter-spacing: 0.5px;
	/* font-family: 'Quicksand', sans-serif; */
	font-family: 'Rajdhani', sans-serif;
	font-weight: 600;
	position: relative;
	padding: 0 0 10px 0;
	line-height: normal;
	margin: 0
}

h1 {
	font-size: 28px
}

h2 {
	font-size: 24px
}

h3 {
	font-size: 20px
}

h4 {
	font-size: 18px
}

h5 {
	font-size: 15px
}

h6 {
	font-size: 14px
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

main {
	min-height: 50vh;
	height: auto !important;
	height: 100%;
}


button:focus {
	outline: none;
}

ul,
li,
ol {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

p {
	color: #343e47;
	margin: 0px;
	font-size: 0.8125rem;
	line-height: 1.6;
}

.btn {
	text-decoration: none !important;
	outline: none !important;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.jumbotron h2 {
	font-size: 35px;
}

.messages {
	position: fixed;
	width: 100%;
	/* top: 50;
	left: 50%;
	transform: translateX(-50%); */
	z-index: 9999;
	text-align: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.more {
	text-transform: uppercase;
	border: #6D3D14 solid 1px;
	background: #6D3D14;
	width: fit-content;
	display: inline-block;
	padding: 0.3rem;
	font-weight: 500;
	line-height: 20px;
	color: #fff;
}

.more:hover {
	border: #6D3D14 solid 1px;
	background: #56330917;
	color: #6D3D14;
	font-weight: 500;
	/* border-radius: 20px; */
	transition: ease-in-out all 0.5s;
}

img {
	max-width: 100%;
	height: auto;
}

:focus {
	outline: 0;
}

.btn-custom {
	margin-top: 20px;
	background-color: transparent !important;
	border: 2px solid #ddd;
	padding: 12px 40px;
	font-size: 16px;
}


button {
	border: 0;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.bg-light_silver {
	background: #f9f9f9;
	padding: 2rem;
}

.theme_bg {
	background: #6D3D14;
}

/*----------------------------
    preloader area
----------------------------*/

.loader_bg {
	position: fixed;
	z-index: 9999999;
	background: #fff;
	width: 100%;
	height: 100%;
}

.loader {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loader img {
	width: 280px;
}

.page-link {
	color: #6D3D14;
	background-color: #fff;
}

.page-item.active .page-link {
	color: #fff;
	background-color: #6D3D14;
	border-color: #6D3D14;
}

/*----------------------------
    scroll to top area
----------------------------*/

.scrollup {
	float: right;
	position: absolute;
	color: #fff;
	right: 20px;
	padding: 0px 5px;
	text-transform: uppercase;
	font-weight: 600;
	background: #38c8a8;
	position: fixed;
	bottom: 20px;
	z-index: 99;
	text-align: center;
	color: #fff;
	cursor: pointer;
	border-radius: 0px;
	opacity: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	transition: .2s all ease;
	-moz-transition: .2s all ease;
	-o-transition: .2s all ease;
	-webkit-transition: .2s all ease;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 48px;
	font-size: 16px;
}

.scrollup.b-show_scrollBut {
	opacity: 1;
	visibility: visible;
}

.top_awro {
	background: #ee4a79 none repeat scroll 0 0;
	cursor: pointer;
	padding: 6px 8px;
	position: fixed;
	bottom: 59px;
	right: 20px;
	display: none;
	height: 45px;
	width: 45px;
	border-radius: 50%;
	text-align: center;
	line-height: 30px;
	transition: all 0.5s ease;
}


.hover-btn {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: #111111;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hover-btn::before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #38c8a8;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	display: block !important;
}

.hover-btn:hover::before,
.hover-btn:focus::before,
.hover-btn:active::before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.hover-btn:hover,
.hover-btn:focus,
.hover-btn:active {
	color: white;
	box-shadow: none;
}

/*---------------------------------------------------------------------
    layout new css
---------------------------------------------------------------------*/

.absolute {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	bottom: 0;
}

.relative {
	position: relative;
}

.bottom_arrow_scroll {
	margin: 0 auto;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 55px;
	height: 55px;
	margin-bottom: -40px;
	z-index: 999;
	animation: jump 2s infinite;
}

@keyframes jump {

	0%,	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-20px);
	}
}

.slider_section {
	overflow: hidden !important;
}

.slider_section .carousel-overlay {
	position: absolute;
	background-color: rgb(89, 80, 76);
	opacity: 0.5;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.slider_section .carousel-overlay ~ * {
	z-index: 2;
}

.slider_section .carousel-caption * {
	color: #fdfff5 !important;
	font-weight: 500;
	text-transform: uppercase;
	font-size: 2.175rem;
	letter-spacing: 9px;
	font-style: italic;
	line-height: 2.475rem;
}

.slider_section .carousel-control-prev {
	left: calc(2vw + -50px);

}

.slider_section .carousel-control-next {
	right: calc(2vw + -50px);
}

.slider_section .carousel-item {
	text-align: center;
	background-image: linear-gradient(rgba(0, 0, 0, 0.801), rgba(0, 0, 0, 0.685));
}

.slider_section .carousel-item img {
	/* opacity: 0.5; */
	/* height: 85vh; */
	max-height: 75vh;
	width: 100vmax;
	object-fit: cover;
	/* image-rendering: optimizeSpeed; */
}

/* .info-cards .col-lg-3{
	border: 1px solid #e2e2e2;
} */
.info-cards .info_img img {
	/* height: 130px;
	width: 100%; */
	/* object-fit: contain; */
	transform: scale(1.1);
	margin-bottom: 10px;
}

.info-cards .col-lg-3:first-child {
	/* top: 1.2rem; */
	border: 1px solid #e2e2e2;
	box-shadow: -2px -3px #d4d4d4;
}

.info-cards .col-lg-3:nth-child(n+5) {
	position: relative;
	top: 1.2rem;
}

.info-cards .col-lg-3:last-child {
	/* top: 2rem; */
	border: 1px solid #e2e2e2;
	box-shadow: 2px 3px #d4d4d4;
}

/** values section **/


.flexcss {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}



.values {
	padding-top: 90px;
	padding-bottom: 60px;
	background: #f4f4f4;
	margin-top: 90px;
}

.values .titlepage span {
	color: #3d3c3c
}

.values .values-box p {
	padding: 10px 30px;
	border: 5px solid #6D3D14;
	border-top: none;
	border-bottom: none;
	border-radius: 100px;
	/* display: none; */
}

/* .values .values-box:hover p {
	display: inherit;
} */

.values .values-box figure img {
	width: 100%;
	border-radius: 20px;
}


.values .values-box .hoverle {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 15px;
	transition: all 0.5s;
	border-radius: 20px;
}

.values .values-box .hoverle h3 {
	padding: 5px 30px;
	color: #6D3D14;
	font-size: 27px;
	border-bottom: 1px solid #fc4311;
	border-bottom-width: 3px;
}

.values .titlepage {
	text-align: center;
	padding-bottom: 50px;
}

.values .titlepage h2 {
	padding: 0px 0px 20px 0px;
	font-size: 40px;
	font-weight: bold;
	color: #fc4311;
	line-height: 46px;
	border-bottom: #fc4311 solid 1px;
	width: 250px;
	margin: 0 auto;
	margin-bottom: 0px;
	margin-bottom: 20px;
}

.values .values-box:hover .hoverle {
	text-align: center;
	display: flex;
	justify-content: center;
	background: #6D3D14;
	align-items: center;
	margin: 0 15px;
	border-radius: 20px;
	transition: all 0.5s;
}

.values .values-box:hover .hoverle h3 {
	border: #fff solid 1px;
	background: transparent;
	padding: 5px 30px;
	color: #fff;
	transition: all 0.5s;
}

.thumb {
	margin-bottom: 30px;
}

img.zoom {
	width: 100%;
	object-fit: cover;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

.transition {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}

/** end values section **/

.top_layer {
	position: relative;
}

.top_layer::before {
	position: absolute;
	width: 100%;
	height: 50px;
	content: "";

	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: repeat;
	background-size: auto;
	height: 500px;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat: no-repeat;
	top: -180px;
}


.about a {
	text-transform: uppercase;
	border: #6D3D14 solid 1px;
	background: #6D3D14;
	width: 206px;
	padding: 15px 0;
	font-weight: 500;
	font-size: 17px;
	line-height: 30px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	margin-top: 50px;
	transition: ease-in all 0.5s;
}

/** end about section **/

/** blog section **/

.blog {
	padding: 40px 0px;
	margin-top: 70px;
}

.blog .titlepage {
	text-align: center;
}

.blog .titlepage h2 {
	padding: 0px 0px 10px 0px;
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	line-height: 50px;
	display: inline-block;
	position: relative;
	border-bottom: #fc4311 solid 3px;
	width: 210px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.blog .titlepage span {
	color: #0e0f10;
	font-size: 17px;
	line-height: 32px;
	display: inline-block;
	margin-bottom: 0px;
	display: block;
	margin-bottom: 60px;
}

.blog .blog-box {
	margin-bottom: 30px;
}

.blog .blue h3 {
	background: #fff;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}

.blog .blog-box figure {
	margin: 0px;
}

.blog .blog-box figure span {
	top: 1px;
	left: 1px;
	position: absolute;
	margin-left: 15px;
	border: 1px transparent;
	background: #6D3D14;
	padding: 7px 15px;
	color: #fff;
}

.blog .blog-box h4 {
	font-size: 18px;
	color: #f9f9f9;
	line-height: 25px;
	font-weight: 500;
}

.blog .blog-box p {
	font-size: 0.8125rem;
	line-height: 20px;
	color: #e2e2e2;
	text-align: justify;
}

.blog .blog-box .travel {
	padding: 0px;
}

.blog .blog-box .travel span {
	color: #fc4311;
	display: inline-block;
}

.blog .row:last-child h2 {
	padding: 100px 0px;
	font-size: 28px;
	font-weight: 600;
	color: #fff;
	line-height: 50px;
	position: relative;
	margin: 0 auto;
	margin-bottom: 30px;
}

.like {
	color: #fc4311;
}

.Comment {
	color: #fc4311;
}

/** end blog section **/
/** contact section **/


.contact .titlepage {
	text-align: center;
}

.contact .titlepage h3 {
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	line-height: 26px;
	border-bottom: #000 solid 1px;
	font-size: 20px;
	width: 130px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.contact .contact {
	background: #fff;
	width: 100%;
	height: 100%;
	padding: 30px;
}

.contact .contact .contactus {
	border: #b1b0b0 solid 1px;
	padding: 12px 19px;
	margin-bottom: 26px;
	border-radius: inherit;
	color: #000;
	background-color: #f4f4f4;
	width: 100%;
}

.contact .contact .textarea {
	margin-bottom: 25px;
	padding: 15px 19px;
	background-color: #f4f4f4;
	color: #655f5f !important;
	width: 100%;
	border: #b1b0b0 solid 1px;
	border-radius: inherit;
}

.contact .contact .send {
	font-size: 16px;
	border: #6D3D14 solid 1px;
	padding: 10px 50px;
	background-color: #6D3D14;
	color: #fff;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	align-items: center;
	flex-wrap: wrap;
	transition: ease-in all 0.5s;

}

.contact .contact .send:hover {
	background-color: #6D3D14;
	border: #6D3D14 solid 1px;
	color: #fff;
	border-radius: 25px;
	transition: ease-in all 0.5s;
}

.contact .address {
	font-size: 1.1rem;
	color: #6D3D14;
	font-weight: 600;
}

.contact .address i {
	width: 32px;
	padding: 0px 5px;
}

.contact .address span{
	font-size: 1rem;
	font-weight: normal;
}

.contact .flexcont .p-override {
	padding: 2px;
}

.contact .gmap_canvas iframe {
	width: 565px;
	height: 370px;
	margin-bottom: 5px;
}

.contact .flexcont .card {
	padding: 12px;
}

/*--------------- about page css ---------------*/

.cst_pages .side_bar {
	display: inline;
}

.cst_pages .list-group-override .list-group-item-override.active {
	background-color: #6D3D14;
	border-color: #6D3D14;
}

.cst_pages .list-group-override .list-group-item-override:hover {
	border-left: #6D3D14 solid 3px;
}

.cst_pages img.img-float-right {
	width: 325px;
	float: right;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.cst_pages img.img-float-left {
	width: 325px;
	float: left;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#list-staff .staff-item {
	min-height: 22rem;
}

#list-staff hr:last-child {
	display: none;
}

.value-item .icon {
	display:flex;
	border-radius: 10px;
	justify-content: center;
	align-items: center;
	min-width: 80px;
	height: 85px;
	background-color: #6D3D14;
}

.value-item .icon img {
	width: 40px;
	filter: invert(100%) brightness(100%) contrast(100%);
}

.value-item .details {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	width: fit-content;
	margin-top: 0.58rem;
}

.value-item .details>p {
	height: max-content;
}
/*--------------- end about page css ---------------*/

/*--------------- gallery page css ---------------*/

.gallery_pg .card {
	background: #6D3D14;
	overflow: hidden;
}

 .gallery_pg .gallery-box {
	font-weight: bold;
	/* font-size: 24px; */
	padding: 5px 5px 31px;
	color: #f8f8f8;
}

.gallery_pg .gallery-box img {
	cursor: pointer;
	/* height: 160px; */
	object-fit: cover;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.gallery_pg .card_content {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0px 10px 5px;
	background: #6D3D14;
	/* border-top-left-radius: 15px; */
	height: 60%;
	-webkit-transform: translateY(65px);
	-ms-transform: translateY(65px);
	transform: translateY(65px);
	-webkit-transition: -webkit-transform .25s;
	transition: -webkit-transform .25s;
	transition: transform .25s;
	transition: transform .25s, -webkit-transform .25s;
}

/* .gallery_pg .card_content::before {
	content: '';
	position: absolute;
	top: -39px;
	right: -36px;
	width: 100px;
	height: 100px;
	-webkit-transform: rotate(-165deg);
	-ms-transform: rotate(-165deg);
	transform: rotate(-165deg);
	border-radius: 50%;
	-webkit-box-shadow: inset 48px 48px #6D3D14;
	box-shadow: inset 48px 48px #6D3D14;
} */

.gallery_pg .card_content span,
.gallery_pg .card_content p.card_description {
	position: relative;
	color: #f8f8f8;
	line-height: 1.24;
	z-index: 10;
}

.gallery_pg .card_content span {
	padding: 5px 2px 0px;
}

.gallery_pg .card_content .card_description {
	font-size: 0.96em;
	opacity: 0;
	transition: opacity .5s;
}

.gallery_pg .card:hover .card_content {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}

.gallery_pg .card:hover .card_description {
	opacity: 1;
	-webkit-transition-delay: .25s;
	transition-delay: .25s;
}

.gallery_pg a[data-fancybox] img {
	cursor: zoom-in;
}

.gallery_pg a[data-caption] {
	text-align: center;
}

.gallery_detail_pg .gallery-box {
	position: relative;
	overflow: hidden;
}

.gallery_detail_pg .gallery .gallery-box img {
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.gallery_detail_pg .gallery .gallery-box:hover img {
	transform: scale(1.1);
}

	/*----------- Magnific Pop-up css -----------*/

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.mfp-delete {
	position: absolute;
	top: 5px;
	right: 5px;
	/* width: 20px;
	height: 20px; */
	border-radius: 50%;
	cursor: pointer;
}
	/*----------- end Magnific Pop-up css -----------*/

	/*----------- toggle view delete modes ----------*/
.toggle-modes{
	max-height: 1.98rem;
}

.toggle-modes .switch {
	position: relative;
	display: inline-block;
	width: 120px;
	height: 34px;
}

.toggle-modes .switch input {
	display: none;
}

.toggle-modes .switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #6D3D14;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}

.toggle-modes .switch .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}

.toggle-modes .switch input:checked+.slider {
	background-color: #f81717;
}

.toggle-modes .switch input:focus+.slider {
	-webkit-box-shadow: 0 0 1px #f81717;
	box-shadow: 0 0 1px #f81717;
}

.toggle-modes .switch input:checked+.slider:before {
	content: "\f1f8";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.964543rem;
	color: #f81717;
	padding: 0px 6px 0px;
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(85px);
}

.toggle-modes .switch .slider:before {
	content: "\f03e";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 0.964543rem;
	color: #6D3D14;
	padding: 0px 4px 0px;
}

/*------ ADDED CSS ---------*/
.toggle-modes .switch .slider:after {
	content: 'VIEW';
	color: white;
	display: block;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 9px;
	font-weight: 600;
}

.toggle-modes .switch input:checked+.slider:after {
	content: 'DELETE';
}

	/*----------- end toggle-view-delete-modes -------*/

.select-all-checkbox,
.selected-checkbox {
	appearance: none;
	width: 17px;
	height: 17px;
	border: 2px solid #6D3D14;
	border-radius: 5px;
	background-color: transparent;
	display: inline-block;
	position: relative;
	margin-right: 10px;
	cursor: pointer;
}

.select-all-checkbox:before,
.selected-checkbox:before {
	content: "";
	background-color: #6D3D14;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	width: 8.5px;
	height: 8.5px;
	border-radius: 3px;
	transition: all 0.3s ease-in-out;
}

.select-all-checkbox:checked:before,
.selected-checkbox:checked:before {
	transform: translate(-50%, -50%) scale(1);
}

.select-all-checkbox-label {
	font-size: 14px;
	width: fit-content;
	vertical-align: middle;
	line-height: 1.5;
	cursor: pointer;
	user-select: none;
	display: flex;
	align-items: center;
}

/*--------------- end gallery page css ---------------*/

/*--------------- News/Blog page css ---------------*/
.overlay-bg {
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.overlay {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.news_pg .relative {
	overflow: hidden;
}

.news_pg .relative img {
	width: 100%;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.news_pg .news_item:hover img {
	transform: scale(1.1);
}

.news_pg .side-bars .news_item:hover img {
	transform: scale(1.0);
}

.side-bars .news_item {
	border-bottom: 1px solid #CBB9A840;
	padding: 7px 0px;
}

.side-bars .news_item img {
	max-width: 120px;
}

.side-bars .news_item .detail {
	padding-left: 15px;
}

/* .news_detail .main-post .post-image img {
	height: 330px;
	width: 100%;
	object-fit: cover;
} */

.news_detail .main-post .news_item {
	padding-right: 45px;
}
.news_detail .main-post .para-br p {
	margin-top: 0;
	margin-bottom: 1rem;
}

.news_detail .main-post blockquote {
	border-left: 2px solid #6D3D14;
	padding-left: 20px;
	font-style: italic;
}
/*--------------- end News/Blog page css ---------------*/