{% load static %}

{% block content %}
<div>
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
        {{ hidden }}
    {% endfor %}

    <div class="border border-secondary rounded p-2">
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
        <div class="form-group">
            <div class="flex-container">
                {{ field.label_tag }}
                {% if field.errors %}
                <small class="error-feedback">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </small>
                {% endif %}

                {% if field.widget_type == "clearablefile" %}
                <p>{{ field }}</p>
                {% else %}
                {{ field }}
                {% endif %}
            </div>
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <input type="hidden" name="upload" value="Save">
</div>
{% endblock %}
