{% load static %}

{% block content %}
    <div>
        {% csrf_token %}
        {% for hidden in image_formset.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% if image_formset.non_field_errors %}
            <div class="non-field-errors">
              {% for err in image_formset.non_field_errors %}
                <p class="form-error">{{ err }}</p>
              {% endfor %}
            </div>
        {% endif %}

            {% for field in image_formset %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        <input type="hidden" name="upload" value="Save">
    </div>
{% endblock %}
