{% load static %}

{% block content %}
    <div>
        {% csrf_token %}
        {% for hidden in image_formset.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% if image_formset.non_field_errors %}
            <div class="non-field-errors">
              {% for err in image_formset.non_field_errors %}
                <p class="form-error">{{ err }}</p>
              {% endfor %}
            </div>
        {% endif %}

            {% for field in image_formset %}
            <div class="form-group" id="{{ field.id_for_label }}_group">
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endfor %}
        <input type="hidden" name="upload" value="Save">
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
  $(function () {

    // Show Category and Description fields on checkbox
    // in Add images form in gallery detail
    $("#id_new_category_name_group").hide();
    $("#id_new_description_group").hide();

    $("#id_rename_category").on("click", function () {
      if ($(this).is(":checked")) {
        $("#id_new_category_name_group").slideDown();
      } else {
        $("#id_new_category_name_group").slideUp();
      }
    });

    $("#id_rename_description").change(function () {
      if ($(this).is(":checked")) {
        $("#id_new_description_group").slideDown();
    } else {
      $("#id_new_description_group").slideUp();
    }
  });
});
</script>
{% endblock %}