{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

{% block content %}
<header class="">
  <!-- <div class="top-bar">
    <div class="container justify-content-between d-flex">
      <p class="display-5 p-2"></p>
      <p class="display-5 p-2"><a href=""></a></p>
    </div>
  </div> -->
  <div class="container d-sm-none d-none d-md-block">
    <div class="navbar-brand col-md-12 my-2 d-flex align-item-center">
      <img src="{% static 'images/Moi-Kadzonzo.png' %}" class="img-fluid align-self-center" alt="School Logo">
      <h2 class="text-uppercase align-self-center mx-2">Moi Kadzonzo Girls Secondary School</h2>
    </div>
  </div>
</header>


<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-md text-uppercase">
    <a class="navbar-brand d-lg-none" href="{% url 'home' %}">
      <img src="{% static 'images/Moi-Kadzonzo-white.png' %}" class="img-fluid" alt="School Logo" width="40px">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="departmentsDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">About</a>
          <ul class="dropdown-menu" aria-labelledby="departmentsDropdown">
            <li><a class="dropdown-item nav-link" href="/about#tab_list-academic">Academics</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-administration">Administration</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-admission">Admission</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-curricular">Co-Curricular</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-principles">Our Values</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-history">School History</a></li>
            <li><a class="dropdown-item nav-link" href="/about#tab_list-staff">Staff</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'management' %}">Management</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'gallery' %}">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'news' %}">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'job-listing' %}">careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">contact</a>
        </li>
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">Signed in as:
            {{ user.get_username }}</a>
          <ul class="dropdown-menu" aria-labelledby="userDropdown">
            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
            <li><a class="dropdown-item disabled" href="#">My Profile</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
        </li>
      </ul>
      {% endif %}
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </div>
  </div>
</nav>
{% endblock %}